---
import { Icon } from "astro-icon/components";
import { Square } from "../components/square";
import { squares } from "../data/squares";
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout title="Roushou">
  <div class="hidden md:block">
    {squares.map((config) => <Square client:load {...config} />)}
  </div>
  <main
    class="mt-6 px-6 tracking-wider md:mt-12 md:max-w-7xl md:px-24 md:pt-20 lg:px-56 2xl:max-w-screen-2xl 2xl:px-80 2xl:pt-48"
  >
    <h1 class="text-8xl text-amber-500 md:text-8xl md:leading-none">Roushou</h1>
    <h2 class="text-3xl md:text-5xl">Software Engineer</h2>
    <p class="text-xl mt-4">
      I'm Roushou, a software engineer nomading in South East Asia.
    </p>
    <p class="text-xl mt-4">
      Lifelong learner I'm often hacking around and learning new things.
      <br />
      I believe in ideas over opinions and the best way to understand something is to build it.
    </p>
    <p class="text-xl mt-4">
      Previously I worked at
      <a
        href="https://ledger.com"
        target="_blank"
        rel="noopener noreferrer"
        class="text-amber-500 hover:underline hover:underline-offset-4"
      >
        Ledger
      </a>
      and I'm currently building
      <a
        href="https://filament.sh"
        target="_blank"
        rel="noopener noreferrer"
        class="text-amber-500 hover:underline hover:underline-offset-4"
      >
        Filament
      </a>
    </p>
    <ul
      class="mt-10 flex items-center justify-center space-x-10 md:mt-4 md:justify-start md:space-x-6"
    >
      <li class="border-b-2 border-b-transparent pb-1 duration-200 hover:border-b-amber-500">
        <a href="https://github.com/roushou" target="_blank" rel="noopener noreferrer">
          <Icon name="github" class="size-6" />
        </a>
      </li>
      <li class="border-b-2 border-b-transparent pb-1 duration-200 hover:border-b-amber-500">
        <a href="https://x.com/roushou_" target="_blank" rel="noopener noreferrer">
          <Icon name="x" class="size-6" />
        </a>
      </li>
      <li class="border-b-2 border-b-transparent pb-1 duration-200 hover:border-b-amber-500">
        <a href="mailto:hello@roushou.sh" target="_blank" rel="noopener noreferrer">
          <Icon name="envelope" class="size-6" />
        </a>
      </li>
    </ul>
  </main>
</BaseLayout>
